extends layout-admin

block content
  .main-panel
    .container
      .panel-header.bg-primary-gradient
        div(style="padding:5px 20px 0px 20px;")
          .d-flex.align-items-left.align-items-md-center.flex-column.flex-md-row
            div
              h2.text-white.fw-bold View All Followups
              h5.text-white.op-7.mb-2 Welcome to Admin Panel
            .ml-md-auto.py-2.py-md-0
              //- if h.checkPermission(session.user, permissionCacheData, "LeadExport") || checkSuperAdmin
              //-   a#ExportReporttoExcel.btn.btn-white.btn-border.btn-round.mr-2(href='javascript:void(0)',style="height: 45px;margin-top: 0px;") Export to Excel
              //- a.btn.btn-white.btn-border.btn-round.mr-2(href='/admin/dashboard') Dashboard
              .lead-flex-container
                div.form-group.export-btn-wrapper
                div.form-group
                  .dropdown
                    if !checkSuperAdmin && h.checkPermission(session.user, permissionCacheData, "LeadAdd") && (centersObj.length == 1)
                      a.btn.btn-white.btn-border.btn-round.mr-2(href='javascript:void(0);' onclick='generateQR();') Generate QR
                    if h.checkPermission(session.user, permissionCacheData, "LeadExport") || checkSuperAdmin
                      a#ExportReporttoExcel.btn.btn-white.btn-border.btn-round.mr-2(href='javascript:void(0)',style="height: 45px;margin-top: 0px;") Export to Excel
                      a.btn.btn-white.btn-border.btn-round.mr-2(href='/admin/dashboard') Dashboard
                    button#dropdownMenuButton.btn.btn-white.btn-border.btn-round.mr-2.dropdown-toggle(type='button', data-mdb-toggle='dropdown', aria-expanded='false')
                      | Columns
                    ul.dropdown-menu.hide(aria-labelledby='dropdownMenuButton',style="height: 300px;overflow-y: auto;")
                      li
                          a.dropdown-item(href="javascript:void(0)")
                            .form-check
                              label.form-check-label(for='Checkme0')
                                input#Checkme0.form-check-input(type='checkbox', value='', checked,data-common="comm" data-column="0" name="Checkme0")
                                span.form-check-sign Action
                      li
                        a.dropdown-item(href="javascript:void(0)")
                          .form-check
                            label.form-check-label(for='Checkme1')
                              input#Checkme1.form-check-input(type='checkbox', value='', checked,data-common="comm" data-column="1")
                              span.form-check-sign Lead Id
                      li
                        a.dropdown-item(href="javascript:void(0)")
                          .form-check
                            label.form-check-label(for='Checkme2')
                              input#Checkme2.form-check-input(type='checkbox', value='', checked,data-common="comm" data-column="2")
                              span.form-check-sign Updated on
                      li
                        a.dropdown-item(href="javascript:void(0)")
                          .form-check
                            label.form-check-label(for='Checkme3')
                              input#Checkme3.form-check-input(type='checkbox', value='', checked,data-common="comm" data-column="3")
                              span.form-check-sign Due in
                      li
                        a.dropdown-item(href="javascript:void(0)")
                          .form-check
                            label.form-check-label(for='Checkme4')
                              input#Checkme4.form-check-input(type='checkbox', value='', checked,data-common="comm" data-column="4")
                              span.form-check-sign Lead Name
                      li
                        a.dropdown-item(href="javascript:void(0)")
                          .form-check
                            label.form-check-label(for='Checkme5')
                              input#Checkme5.form-check-input(type='checkbox', value='',data-common="comm" data-column="5")
                              span.form-check-sign Source Category
                      li
                        a.dropdown-item(href="javascript:void(0)")
                          .form-check
                            label.form-check-label(for='Checkme6')
                              input#Checkme6.form-check-input(type='checkbox', value='',data-common="comm" data-column="6")
                              span.form-check-sign Source
                      li
                        a.dropdown-item(href="javascript:void(0)")
                          .form-check
                            label.form-check-label(for='Checkme7')
                              input#Checkme7.form-check-input(type='checkbox', value='', checked,data-common="comm" data-column="7")
                              span.form-check-sign Program
                      li
                        a.dropdown-item(href="javascript:void(0)")
                          .form-check
                            label.form-check-label(for='Checkme8')
                              input#Checkme8.form-check-input(type='checkbox', value='',data-common="comm" data-column="8")
                              span.form-check-sign School
                      li
                        a.dropdown-item(href="javascript:void(0)")
                          .form-check
                            label.form-check-label(for='Checkme9')
                              input#Checkme9.form-check-input(type='checkbox', value='', checked,data-common="comm" data-column="9")
                              span.form-check-sign Stage     
                      li
                        a.dropdown-item(href="javascript:void(0)")
                          .form-check
                            label.form-check-label(for='Checkme10')
                              input#Checkme10.form-check-input(type='checkbox', value='', checked,data-common="comm" data-column="10")
                              span.form-check-sign Status
                      li
                        a.dropdown-item(href="javascript:void(0)")
                          .form-check
                            label.form-check-label(for='Checkme11')
                              input#Checkme11.form-check-input(type='checkbox', value='', checked,data-common="comm" data-column="11")
                              span.form-check-sign Substatus              
                      //- li
                      //-   if user_type
                      //-     a.dropdown-item(href="javascript:void(0)")
                      //-       .form-check
                      //-         label.form-check-label(for='Checkme9')
                      //-           input#Checkme9.form-check-input(type='checkbox', value='', checked,data-common="comm" data-column="9")
                      //-           span.form-check-sign School Name
                      //-   else
                      //-     a.dropdown-item(href="javascript:void(0)")
                      //-       .form-check
                      //-         label.form-check-label(for='Checkme10')
                      //-           input#Checkme10.form-check-input(type='checkbox', value='',data-common="comm" data-column="10")
                      //-           span.form-check-sign Child Name
                      //- li
                      //-   a.dropdown-item(href="javascript:void(0)")
                      //-     .form-check
                      //-       label.form-check-label(for='Checkme11')
                      //-         input#Checkme11.form-check-input(type='checkbox', value='',data-common="comm" data-column="11")
                      //-         span.form-check-sign Source Category
                      //- li
                      //-   a.dropdown-item(href="javascript:void(0)")
                      //-     .form-check
                      //-       label.form-check-label(for='Checkme12')
                      //-         input#Checkme12.form-check-input(type='checkbox', value='', checked,data-common="comm" data-column="12")
                      //-         span.form-check-sign Source
                      //- li
                      //-   a.dropdown-item(href="javascript:void(0)")
                      //-     .form-check
                      //-       label.form-check-label(for='Checkme13')
                      //-         input#Checkme13.form-check-input(type='checkbox', value='',data-common="comm" data-column="13")
                      //-         span.form-check-sign School
                      //- li
                      //-   a.dropdown-item(href="javascript:void(0)")
                      //-     .form-check
                      //-       label.form-check-label(for='Checkme14')
                      //-         input#Checkme14.form-check-input(type='checkbox', value='', checked,data-common="comm" data-column="14")
                      //-         span.form-check-sign Stage
                      //- li
                      //-   a.dropdown-item(href="javascript:void(0)")
                      //-     .form-check
                      //-       label.form-check-label(for='Checkme15')
                      //-         input#Checkme15.form-check-input(type='checkbox', value='', checked,data-common="comm" data-column="15")
                      //-         span.form-check-sign Status
                      //- li
                      //-   a.dropdown-item(href="javascript:void(0)")
                      //-     .form-check
                      //-       label.form-check-label(for='Checkme16')
                      //-         input#Checkme16.form-check-input(type='checkbox', value='', checked,data-common="comm" data-column="16")
                      //-         span.form-check-sign Substatus       
      .page-inner
        .row
          .col-md-12
            .card.card-with-nav.filter-div
              .card-body(style="padding:0px 15px !important")
                .row
                  //- .col-md-2
                  //-   .form-group
                  //-     label(for='type',style="margin-bottom:0px;") Search
                  //-     input.form-control#searchbox(type='text' placeholder='By ID, Name, Number, Email..' name='search' style='height: 38px;')
                  //-     a#clr_search(href="javascript:void(0)" style="margin-top: 3px;float: right;text-decoration: none;z-index:9999")
                  //-       i.fa.fa-times(style="position: absolute;right: 35px;top: 45px;z-index: 99999;")
                  .col-md-2
                    .form-group
                      label(for='type' style="width: 100%;margin-bottom:0px;") Date Range
                      input#date.form-control(type='text' name="date_range" value="" readonly style="height:40px !important")
                      a#clr_date_range(href="javascript:void(0)" style="margin-top: 3px;float: right;text-decoration: none;z-index:9999")
                        i.fa.fa-times(style="position: absolute;right: 35px;top: 42px;z-index: 99999;")
                  .col-md-2
                    .form-group
                      label(for='source_category',style="margin-bottom:0px;") Source Category
                      select#source_category(name='source_category' data-container="body" data-live-search="true" ).selectpicker
                        option(value='') Select Source Category
                        option(value="direct-walk-in") Direct Walk in
                        option(value="digital-lead") Digital Lead
                        option(value="database/events") Database/Events       
                  .col-md-2
                    .form-group
                      label(for='stage',style="margin-bottom:0px;") Lead Stage
                      select#stage(name='stage' data-container="body" data-live-search="true" ).selectpicker
                        option(value='') Select Stage
                        option(value="New Lead") 1. New Lead
                        option(value="Enquiry Received") 2. Enquiry Received
                        option(value="Tour Booked") 3. Tour Booked
                        option(value="Closed-Lead Lost") 4. Closed-Lead Lost
                        option(value="Post Tour") 5. Post Tour
                        option(value="Closed-Enquiry Lost") 6. Closed-Enquiry Lost
                        option(value="Closed - Won") 7. Closed - Won
                  .col-md-2
                    .form-group
                      label(for='status',style="margin-bottom:0px;") Status
                      select#status(name='status[]' multiple='multiple' data-container="body" data-live-search="true" data-actions-box="true" data-selected-text-format="count > 1").selectpicker
                        each statuses in statusess
                          option(value=statuses._id) #{statuses.name}  
                  .col-md-2
                    .form-group
                        label(for='substatus',style="margin-bottom:0px;") Sub Status
                        select#substatus.form-control(name='follow_sub_status' data-container="body" data-live-search="true" data-actions-box="true" data-selected-text-format="count > 1" , required='')
                  .col-md-2
                    .form-group.lead-flex-container
                      button.btn.btn-primary#show_filter(type="button" style='margin-top:20px;')
                        i.fa.fa-filter
                        //- |  Additional Filter
                      button.btn.btn-primary#clear_filter(type="button" style='margin-top:20px;')
                        i.fas.fa-broom
                        //- |  Clear Filter
                        //- | Additional Filter
                .row.filter
                  .col-md-3(style="margin-top: -10px;")
                    .form-group
                      label(for='country',style="margin-bottom:-8px;") Country
                      select#country(name='country[]' multiple='multiple' data-container="body" data-live-search="true" data-actions-box="true" data-selected-text-format="count > 1").selectpicker
                        each country in data.countries
                          option(value=country._id) #{country.country_name}
                  .col-md-3(style="margin-top: -10px;")
                    .form-group
                      label(for='source_category',style="margin-bottom:0px;") Zone
                      br
                      select#zone(name='zone[]' multiple='multiple' data-container="body" data-live-search="true" data-actions-box="true" data-selected-text-format="count > 1").selectpicker
                        each zone in data.zones
                          option(value=zone._id) #{zone.name}
                  .col-md-3(style="margin-top: -10px;")
                    .form-group
                      label(for='center',style="margin-bottom:0px;") Center
                      select#center(name='center[]' multiple='multiple' data-container="body" data-live-search="true" data-actions-box="true" data-selected-text-format="count > 1").selectpicker
                        each center in data.centers
                          option(value=center._id) #{center.school_display_name}
                  .col-md-3(style="margin-top: -10px;")
                    .form-group
                      label(for='program',style="margin-bottom:0px;") Program
                      select#program(name='program[]' multiple='multiple' data-container="body" data-live-search="true" data-actions-box="true" data-selected-text-format="count > 1").selectpicker
                        each program in programs
                          option(value=program._id) #{program.program_name}
                  //- .col-md-3(style="margin-top: -10px;")
                  //-   .form-group
                  //-     label(for='source_category',style="margin-bottom:0px;") Source Category
                  //-     select#source_category(name='source_category' data-container="body" data-live-search="true" ).selectpicker
                  //-       option(value='') Select Source Category
                  //-       option(value="direct-walk-in") Direct Walk in
                  //-       option(value="digital-lead") Digital Lead
                  //-       option(value="database/events") Database/Events
                  .col-md-3(style="margin-top: -10px;")
                    .form-group
                      label(for='know_us',style="margin-bottom:0px;") Lead Source
                      select#know_us(name='know_us[]' multiple='multiple' data-container="body" data-live-search="true" data-actions-box="true" data-selected-text-format="count > 1").selectpicker
                        each knowus in knowuss
                          option(value=knowus.name) #{knowus.name}
                  //- .col-md-3(style="margin-top: -10px;")
                  //-  .form-group
                  //-       label(for='substatus') Select Sub Status
                  //-       select#substatus.form-control(name='follow_sub_status', required='')        
                  //- .col-md-3(style="margin-top: -10px;")
                  //-   .form-group
                  //-     label(for='status',style="margin-bottom:0px;") Status
                  //-     select#status(name='status[]' multiple='multiple' data-container="body" data-live-search="true" data-actions-box="true" data-selected-text-format="count > 1").selectpicker
                  //-       each statuses in statusess
                  //-         option(value=statuses._id) #{statuses.name}
                  .col-md-3
                    .form-group
                      .form-check
                        label.form-check-label
                          input.form-check-input.searchInput(type='checkbox' name='no_followup' id="no_followup_1" )
                          span.form-check-sign Leads with NO Follow-up dates
                  .col-md-3
                    .form-group
                      .form-check
                        label.form-check-label
                          input.form-check-input.searchInput(type='checkbox' name='someday' id="someday_1" )
                          span.form-check-sign Leads with Someday Follow-up dates
                  .col-md-3(style="margin-top:25px;")
                    button.excelexport.btn-primary-wrapper(type="button" style="float: left;")
                hr
                .table-responsive
                  .col-sm-12
                    table#basic-datatables.display.table.table-striped.table-hover.dataTable(role='grid', aria-describedby='basic-datatables_info')
                      h4.newleads(style="caption-side: top; text-align: center; font-weight: bold;") 
                      thead
                        tr(role='row')
                          th(data-orderable="false") Action
                          th(data-orderable="false") Lead ID
                          th Updated on
                          th Due in
                          th Lead Name
                          th Src Cat
                          th Source
                          th Program
                          if user_type
                            th School
                          else
                            th Child Name
                          th Stage
                          th Status
                          th Substatus
                      tbody
                .row
  block script
    script(type='text/javascript' src='https://cdn.jsdelivr.net/momentjs/latest/moment.min.js')
    script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js')


    script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js')
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css")


  script.
    var table;
    var col = [];
    var colDT = [];
    var total_records = 0;
    $('.filter').css('display', 'none');
    var currentUser = !{JSON.stringify(session.user)};
    //- var substatuses = !{JSON.stringify(substatuses)}
    var onlyUserEntry = !{JSON.stringify(user_type)};
    var permissionEdit = !{JSON.stringify(permissionEditLead)};
    var permissionAddFollow = !{JSON.stringify(permissionAddFollowUp)};
    var data = !{JSON.stringify(data)};

    $(document).ready(function() {
      // Customize relative time format
      moment.updateLocale('en', {
        relativeTime: {
          future: 'in %s',
          past: '%s ago',
          s: 'a few seconds',
          ss: '%d seconds',
          m: 'a minute',
          mm: '%d minutes',
          h: 'an hour',
          hh: '%d hours',
          d: 'a day',
          dd: '%d days',
          M: 'a month',
          MM: '%d months',
          y: 'a year',
          yy: '%d years'
        }
      });
    var next = 0;
    //- var newLeadsCount = 0;

    var table = $('#basic-datatables').DataTable({
      bProcessing: true,
      bServerSide: true,
      pagination: true,
      ordering: true,
      lengthMenu: [[25, 50, -1], [25, 50, "All"]],
      "info": true,
      "dom": 'lfrtip',
      order: [[2, 'desc']],
      language: {
          searchPlaceholder: "By ID, Name, Number, Email.."
      },
      buttons: [{
        extend: 'excel',
        text: 'Export to excel',
        className: 'btn btn-primary exp_btn',
        title: `followups_${Date.now()}`,
        exportOptions: {
          columns: [0, 1, 2, 3, 4, 5, 6]
        }
      }],
      sAjaxSource: "/admin/lead/datatable",
        "rowCallback": function(row, data, index) {
          //- console.log(data);
          if (data.is_dup === 1) {
            $(row).addClass('new-mail-leads-dup');
          } else if (data.is_external === 1) {
            $(row).addClass('new-mail-leads');
            //- newLeadsCount++;
          }
      },
      columns: [
        {
          data: `_id`,
          bSortable: false,
          render: function (data, type, row) {
            return `${onlyUserEntry || permissionAddFollow ? `<a class="btn btn-link btn-primary" data-toggle="tooltip" title="followup" data-original-title="Add Follow Up" href="/admin/lead/add/followup/${data}"><i class="fa fa-plus" style="font-size: 17px;"></i></a>` : ''}`
          }
        },
        {
          data: 'lead_no',
          render: function (data, type, row) {
            return `${onlyUserEntry || permissionEdit ? `
              <div style="display: flex; align-items: center; text-decoration: none;">
                <a href="/admin/lead/view/${row._id}" style="margin-bottom: 5px;">${data} <i class="fas fa-edit" ></i></a>
              </div>` : data}`;
          },
        },
        {
          data: 'updatedAt',
          render: function (data, type, row) {
            return `${data ? moment(data).format("DD/MM/YYYY <br> hh:mm A") : 'Not Provided'}`
          }
        },
        {
          data: 'follow_due_date',
          render: function (data, type, row) {
            var regex = /\ba\b/;
            let dueDate = moment(data).format("DD/MM/YYYY ");
            if (row.follow_due_date) {
              if (row.follow_due_time) {
                var mainData = moment(`${dueDate} ${row.follow_due_time}`).fromNow();
                if (regex.test(mainData)) {
                  mainData = mainData.replace("a", 1)
                }
                return `${data ? mainData : "Not Provided"}`
              } else {
                var mainData = moment(`${data}`).fromNow();
                if (regex.test(mainData)) {
                  mainData = mainData.replace("a", 1)
                }
                return `${data ? mainData : "Not Provided"}`
              }
            } else {
              return "Not Provided";
            }
          }
        },
        {
          data: 'parent_name',
          render: function (data, type, row) {
            return `${data ? data : 'Not Provided'}`
          }
        },
        {
          data: 'source_category',
          render: function (data, type, row) {
            return `${data && data ? data : 'Not Provided'}`
          }
        },
       {
          data: 'parent_know_aboutus',
            render: function (data, type, row) {
              return data && data.length
                ? data.length > 1
                  ? data.join('<br>')
                  : data[0]
                : 'Not Provided';
              }
        },
        {
          data: 'program_id.program_name',
          render: function (data, type, row) {
            return `${data ? data : 'Not Provided'}`
          }
        },
        {
          data: `${onlyUserEntry ? 'school_id.school_display_name' : 'child_first_name'}`,
          render: function (data, type, row) {
            return `${onlyUserEntry ? data : `${data} ${row.child_last_name}`}`
          }
        },
        {
          data: 'stage',
          render: function (data, type, row) {
            if (data == "New Lead") {
              return `1. New Lead`;
            } else if (data == "Enquiry Received") {
              return `2. Enquiry Received`;
            } else if (data == "Tour Booked") {
              return `3. Tour Booked`;
            } else if (data == "Closed-Lead Lost") {
              return `4. Closed-Lead Lost`;
            } else if (data == "Post Tour") {
              return `5. Post Tour`;
            } else if (data == "Closed-Enquiry Lost") {
              return `6. Closed-Enquiry Lost`;
            } else if (data == "Closed - Won") {
              return `7. Closed - Won`;
            } else {
              return data;
            }
          }
        },
        {
          data: 'status_id.name',
          render: function (data, type, row) {
            return `${data ? data : 'Not Provided'}`
          }
        },
        {
          data: 'substatus_id.name',
          render: function (data, type, row) {
            return `${data ? data : 'Not Provided'}`;
          }
        },
      ],
      "drawCallback": function (settings) {
        console.log(settings);
        const totalEntries = settings.fnRecordsTotal();
        const message = `${settings.json.newLds} new leads from ${totalEntries} entries`;
        $('.newleads').html(message);
        //- newLeadsCount = 0; 
      },
      fnServerParams: function (data) {
        var searchCount = 0;
        $(".searchInput").each(function(){
          data.push({ "name": "Searchkey_"+searchCount, "value": $(this).is(":checked") });
          searchCount++;
        });
        data.push({
          "name": "country",
          "value": $('#country').val()
        });
        data.push({
          "name": "zone",
          "value": $('#zone').val()
        });
        data.push({
          "name": "center",
          "value": $('#center').val()
        });
        data.push({
          "name": "status",
          "value": $('#status').val()
        });
        data.push({
          "name": "program",
          "value": $('#program').val()
        });
        data.push({
          "name": "know_us",
          "value": $('#know_us').val()
        });
        data.push({
          "name": "stage",
          "value": $('#stage').val()
        });
        data.push({
          "name": "substatus",
          "value": $('#substatus').val()
        });
      }
    });


    $('#dropdownMenuButton').on('click', function(e) {
      $('.lead-flex-container .dropdown-menu').slideToggle();
    });
    $('.dropdown-menu .form-check-input').on('click', function (e) {
      // Get the column API object
      var column = table.column($(this).attr('data-column'));
      // Toggle the visibility
      column.visible(!column.visible());
    });

      if(currentUser.main == "super_admin"){

        $(document).on('change', '#country', function () {
          var id = $(this).val();
           let countriesList = $("#country option").length;
          var id = $(this).val();
          var valueLength = $(this).val() ? $(this).val().length : 0;
          if (countriesList == valueLength) {
            $('#sel_country_check').prop('checked',true);
          } else {
            $('#sel_country_check').prop('checked',false);
          }
          $('#sel_center_check').prop('checked',false);
          $('#sel_zone_check').prop('checked',false);
          console.log(id,"idddddd")
          $("#clr_zone").css('visibility', 'hidden');
          $("#clr_center").css('visibility', 'hidden');
          if(id){
            console.log("id")
            $("#zone").val("");
            $("#center").val("");
            //- $('#zone').val('');
            //- $('#center').val('');
            $.ajax({
              method: 'POST',
              url: `/admin/lead/zonefilter`,
              data: {
                type: id
              },
              dataType: 'json',
              success: function (response) {
                //- console.log(response,"response")

                $("#zone").html("");
                $("#center").html("");
                //- $("#program").append(`<option value=''>Select Program</option>`);

                var len = response.data.length;
                for (var i = 0; i < len; i++) {
                  var id = response.data[i]['_id'];
                  var zone_name = response.data[i]['name'];
                  $("#zone").append(`<option value='${id}'>${zone_name}</option>`);

                }
                for(var i = 0; i < response.centers.length; i++) {
                  var id = response.centers[i]['_id'];
                  var center_name = response.centers[i]['school_display_name'];
                  $("#center").append(`<option value='${id}'>${center_name}</option>`);
                }
                $("#zone").selectpicker("refresh");
                $("#center").selectpicker("refresh");
              }
            });
          }else{
            console.log("no id")
            $("#zone").html("");
            $("#center").html("");
            $("#clr_zone").css('visibility', 'hidden');
            $("#clr_center").css('visibility', 'hidden');
            $("#clr_country").css('visibility', 'hidden');
            for (var i = 0; i < data.zones.length; i++) {
              //- console.log(data.zones[i])
              var id = data.zones[i]['_id'];
              var zone_name = data.zones[i]['name'];
              //- console.log(id,"id")
              //- console.log(zone_name,"zone_name")
              $("#zone").append(`<option value='${id}'>${zone_name}</option>`);
            }
            for (var i = 0; i < data.centers.length; i++) {
              //- console.log(data.centers[i])
              var id = data.centers[i]['_id'];
              var center_name = data.centers[i]['school_display_name'];
              //- console.log(id,"id")
              //- console.log(zone_name,"zone_name")
              $("#center").append(`<option value='${id}'>${center_name}</option>`);
            }
            $("#zone").selectpicker("refresh");
            $("#center").selectpicker("refresh");
          }
        });
        $('#clr_country').click(function(e) {
          $("#zone").val("");
          $("#center").val("");
          $("#clr_zone").css('visibility', 'hidden');
          $("#clr_center").css('visibility', 'hidden');
          $('#sel_country_check').prop('checked',false);
          $('#sel_zone_check').prop('checked',false);
          $('#sel_center_check').prop('checked',false);
          for (var i = 0; i < data.zones.length; i++) {
              //- console.log(data.zones[i])
            var id = data.zones[i]['_id'];
            var zone_name = data.zones[i]['name'];
            //- console.log(id,"id")
            //- console.log(zone_name,"zone_name")
            $("#zone").append(`<option value='${id}'>${zone_name}</option>`);
          }
          for (var i = 0; i < data.centers.length; i++) {
            //- console.log(data.centers[i])
            var id = data.centers[i]['_id'];
            var center_name = data.centers[i]['school_display_name'];
            //- console.log(id,"id")
            //- console.log(zone_name,"zone_name")
            $("#center").append(`<option value='${id}'>${center_name}</option>`);
          }
        });
        $(document).on('change', '#zone', function () {
          let zonesList = $("#zone option").length;
          var id = $(this).val();
          var valueLength = $(this).val() ? $(this).val().length : 0;
          if (zonesList == valueLength) {
            $('#sel_zone_check').prop('checked',true);
          } else {
            $('#sel_zone_check').prop('checked',false);
          }
          $('#sel_center_check').prop('checked',false);
          //- $('#sel_zone_check').prop('checked',false);
          $("#center").val("");

          $("#clr_center").css('visibility', 'hidden');
          if(id){
            console.log("id")
            $.ajax({
              method: 'POST',
              url: `/admin/lead/centerfilter`,
              data: {
                type: id
              },
              dataType: 'json',
              success: function (response) {
                $("#center").html("");
                var len = response.data.length;
                for (var i = 0; i < len; i++) {
                  var id = response.data[i]['_id'];
                  var school_name = response.data[i]['school_display_name'];
                  $("#center").append(`<option value='${id}'>${school_name}</option>`);
                }
                $("#center").selectpicker("refresh")
              }
            });
          }else{
            console.log("no id")
            $("#center").val("");
            $("#clr_zone").css('visibility', 'hidden');
            for (var i = 0; i < data.centers.length; i++) {
              //- console.log(data.centers[i])
              var id = data.centers[i]['_id'];
              var center_name = data.centers[i]['school_display_name'];
              //- console.log(id,"id")
              //- console.log(zone_name,"zone_name")
              $("#center").append(`<option value='${id}'>${center_name}</option>`);
            }
          }
          //- $.ajax({
          //-   method: 'POST',
          //-   url: `/admin/lead/centerfilter`,
          //-   data: {
          //-     type: id
          //-   },
          //-   dataType: 'json',
          //-   success: function (response) {
          //-     //- console.log(response,"response")

          //-     $("#center").val("");
          //-     //- //- $("#program").append(`<option value=''>Select Program</option>`);

          //-     var len = response.data.length;
          //-     for (var i = 0; i < len; i++) {
          //-       var id = response.data[i]['_id'];
          //-       var school_name = response.data[i]['school_display_name'];
          //-       $("#center").append(`<option value='${id}'>${school_name}</option>`);

          //-     }
          //-     //- // $(".testi_class").select2("refresh");
          //-   }
          //- });
        });
        $('#clr_zone').click(function(e) {
          $("#center").val("");
          $("#clr_center").css('visibility', 'hidden');
          $('#sel_zone_check').prop('checked',false);
          $('#sel_center_check').prop('checked',false);
          for (var i = 0; i < data.centers.length; i++) {
            //- console.log(data.centers[i])
            var id = data.centers[i]['_id'];
            var center_name = data.centers[i]['school_display_name'];
            //- console.log(id,"id")
            //- console.log(zone_name,"zone_name")
            $("#center").append(`<option value='${id}'>${center_name}</option>`);
          }
        });
      }else{
        $(document).on('change', '#country', function () {
          let countriesList = $("#country option").length;
          var id = $(this).val();
          var valueLength = $(this).val() ? $(this).val().length : 0;
          if (countriesList == valueLength) {
            $('#sel_country_check').prop('checked',true);
          } else {
            $('#sel_country_check').prop('checked',false);
          }
          $('#sel_center_check').prop('checked',false);
          $('#sel_zone_check').prop('checked',false);
          console.log(id,"idddddd")
          $("#clr_zone").css('visibility', 'hidden');
          $("#clr_center").css('visibility', 'hidden');
          if(id){
            console.log("id")
            $("#zone").val("");
            $("#center").val("");
            $("#clr_zone").css('visibility', 'hidden');
            $("#clr_center").css('visibility', 'hidden');
            //- $("#clr_country").css('visibility', 'hidden');
            for (var i = 0; i < data.zones.length; i++) {
              //- console.log(data.zones[i])
              var id = data.zones[i]['_id'];
              var zone_name = data.zones[i]['name'];
              //- console.log(id,"id")
              //- console.log(zone_name,"zone_name")
              $("#zone").append(`<option value='${id}'>${zone_name}</option>`);
            }
            for (var i = 0; i < data.centers.length; i++) {
              //- console.log(data.centers[i])
              var id = data.centers[i]['_id'];
              var center_name = data.centers[i]['school_display_name'];
              //- console.log(id,"id")
              //- console.log(zone_name,"zone_name")
              $("#center").append(`<option value='${id}'>${center_name}</option>`);
            }
          }else{
            console.log("no id")
            $("#zone").val("");
            $("#center").val("");
            $("#clr_zone").css('visibility', 'hidden');
            $("#clr_center").css('visibility', 'hidden');
            $("#clr_country").css('visibility', 'hidden');
            for (var i = 0; i < data.zones.length; i++) {
              //- console.log(data.zones[i])
              var id = data.zones[i]['_id'];
              var zone_name = data.zones[i]['name'];
              //- console.log(id,"id")
              //- console.log(zone_name,"zone_name")
              $("#zone").append(`<option value='${id}'>${zone_name}</option>`);
            }
            for (var i = 0; i < data.centers.length; i++) {
              //- console.log(data.centers[i])
              var id = data.centers[i]['_id'];
              var center_name = data.centers[i]['school_display_name'];
              //- console.log(id,"id")
              //- console.log(zone_name,"zone_name")
              $("#center").append(`<option value='${id}'>${center_name}</option>`);
            }
          }

          //- $("#zone").val("");
          //- $("#center").val("");
          //- $.ajax({
          //-   method: 'POST',
          //-   url: `/admin/lead/zonefilter`,
          //-   data: {
          //-     type: id
          //-   },
          //-   dataType: 'json',
          //-   success: function (response) {
          //-     //- console.log(response,"response")

          //-     $("#zone").val("");
          //-     $("#center").val("");
          //-     //- $("#program").append(`<option value=''>Select Program</option>`);

          //-     var len = response.data.length;
          //-     for (var i = 0; i < len; i++) {
          //-       var id = response.data[i]['_id'];
          //-       var zone_name = response.data[i]['name'];
          //-       $("#zone").append(`<option value='${id}'>${zone_name}</option>`);

          //-     }
          //-     // $(".testi_class").select2("refresh");
          //-   }
          //- });
        });
        $('#clr_country').click(function(e) {
          $("#zone").val("");
          $("#center").val("");
          $("#clr_zone").css('visibility', 'hidden');
          $("#clr_center").css('visibility', 'hidden');
          $('#sel_country_check').prop('checked',false);
          $('#sel_zone_check').prop('checked',false);
          $('#sel_center_check').prop('checked',false);
          for (var i = 0; i < data.zones.length; i++) {
              //- console.log(data.zones[i])
            var id = data.zones[i]['_id'];
            var zone_name = data.zones[i]['name'];
            //- console.log(id,"id")
            //- console.log(zone_name,"zone_name")
            $("#zone").append(`<option value='${id}'>${zone_name}</option>`);
          }
          for (var i = 0; i < data.centers.length; i++) {
            //- console.log(data.centers[i])
            var id = data.centers[i]['_id'];
            var center_name = data.centers[i]['school_display_name'];
            //- console.log(id,"id")
            //- console.log(zone_name,"zone_name")
            $("#center").append(`<option value='${id}'>${center_name}</option>`);
          }
        });
        $(document).on('change', '#zone', function () {
          var id = $(this).val();
          console.log(id,"zone");
          let zonesList = $("#zone option").length;
          var id = $(this).val();
          var valueLength = $(this).val() ? $(this).val().length : 0;
          if (zonesList == valueLength) {
            $('#sel_zone_check').prop('checked',true);
          } else {
            $('#sel_zone_check').prop('checked',false);
          }
          //- $("#center").val("");
          $('#sel_center_check').prop('checked',false);

          $("#clr_center").css('visibility', 'hidden');
          //- $("#center").val("");
          //- for (var i = 0; i < data.centers.length; i++) {
          //-     //- console.log(data.centers[i])
          //-     var id = data.centers[i]['_id'];
          //-     var center_name = data.centers[i]['school_display_name'];
          //-     //- console.log(id,"id")
          //-     //- console.log(zone_name,"zone_name")
          //-     $("#center").append(`<option value='${id}'>${center_name}</option>`);
          //-   }
          if(id){
            console.log("isdsd")
            $("#center").val("");
            for (var i = 0; i < data.centers.length; i++) {
              //- console.log(data.centers[i])
              var center_id = data.centers[i]['_id'];
              var center_name = data.centers[i]['school_display_name'];
              var zone_id = data.centers[i]['zone_id'];
              console.log(zone_id,"id")
              //- console.log(zone_name,"zone_name")
              if(id.includes(zone_id)){
                console.log(center_name,"center_namecenter_namecenter_name")
                $("#center").append(`<option value='${center_id}'>${center_name}</option>`);
              }
            }
          }else{
            console.log("no id")
            $("#center").val("");
            $("#clr_zone").css('visibility', 'hidden');
            for (var i = 0; i < data.centers.length; i++) {
              //- console.log(data.centers[i])
              var id = data.centers[i]['_id'];
              var center_name = data.centers[i]['school_display_name'];
              //- console.log(id,"id")
              //- console.log(zone_name,"zone_name")
              $("#center").append(`<option value='${id}'>${center_name}</option>`);
            }
          }
        });
        $('#clr_zone').click(function(e) {
          $("#center").val("");
          $("#clr_center").css('visibility', 'hidden');
          $('#sel_zone_check').prop('checked',false);
          $('#sel_center_check').prop('checked',false);
          //- $('#sel_z_check').prop('checked',false);
          for (var i = 0; i < data.centers.length; i++) {
            //- console.log(data.centers[i])
            var id = data.centers[i]['_id'];
            var center_name = data.centers[i]['school_display_name'];
            //- console.log(id,"id")
            //- console.log(zone_name,"zone_name")
            $("#center").append(`<option value='${id}'>${center_name}</option>`);
          }
        });
      }
      $(document).on('change', '#status', function () {
         let statusList = $("#status option").length;
          var id = $(this).val();
          var valueLength = $(this).val() ? $(this).val().length : 0;
          if (statusList == valueLength) {
            $('#sel_status_check').prop('checked',true);
          } else {
            $('#sel_status_check').prop('checked',false);
          }

          if(!id){
            $("#clr_status").css('visibility', 'hidden');
          }

          $("#substatus").empty();
          $("#substatus").selectpicker('refresh');

          $.each(id, function (k, v) {

            $.ajax({
              method: 'POST',
              url: `/admin/lead/status`,
              data: {
                type: v
              },
              dataType: 'json',
              success: function (response) {
                $("#substatus").append(`<option value=''>Select Substatus</option>`);
                //- var len = response.data.length;
                $.each(response.data, function (k, v) {
                  var program_name = v['name'];
                  console.log(program_name);
                  var stage = v['stage']
                    $("#substatus").append(`<option value='${v["_id"]}'>${program_name}</option>`);
                });
                //- if(len == 1){
                //-   for (var i = 0; i < len; i++) {
                //-   var id = response.data[i]['_id'];
                //-   }
                //- }else{
                //-   for (var i = 0; i < len; i++) {
                //-     var id = response.data[i]['_id'];
                //-     var program_name = response.data[i]['name'];
                //-     var stage = response.data[i]['stage']

                //-     $("#substatus").append(`<option value='${id}'>${program_name}</option>`);
                //-   }
                //- }
                $("#substatus").selectpicker('refresh');
              }
            });
        }); 
        //- $("#substatus").selectpicker();
      })
      $(document).on('change', '#program', function () {
          var id = $(this).val();
          if(!id){
            $("#clr_program").css('visibility', 'hidden');
          }
      })
      $(document).on('change', '#center', function () {
          var id = $(this).val();
          if(!id){
            $("#clr_center").css('visibility', 'hidden');
          }
      })
      $(document).on('change', '#know_us', function () {
         let knowList = $("#know_us option").length;
          var id = $(this).val();
          var valueLength = $(this).val() ? $(this).val().length : 0;
          if (knowList == valueLength) {
            $('#sel_know_check').prop('checked',true);
          } else {
            $('#sel_know_check').prop('checked',false);
          }

          if(!id){
            $("#clr_know_us").css('visibility', 'hidden');
          }
      })
      //- $('.dataTables_filter ').css('display', 'none');

      $("#clr_country").css('visibility', 'hidden');
      $("#clr_zone").css('visibility', 'hidden');
      $("#clr_center").css('visibility', 'hidden');
      $("#clr_date_range").css('visibility', 'hidden');
      $("#clr_src_cat").css('visibility', 'hidden');
      $("#clr_stage").css('visibility', 'hidden');
      $("#clr_search").css('visibility', 'hidden');
      $("#clr_status").css('visibility', 'hidden');
      $("#clr_status").css('visibility', 'hidden');
      $("#clr_program").css('visibility', 'hidden');
      $("#clr_know_us").css('visibility', 'hidden');

      table.buttons().container().appendTo($('.excelexport'));

      $('input[name="date_range"]').daterangepicker({
        autoUpdateInput: false,
        startDate: moment().startOf('isoWeek'),
        endDate: moment().endOf('isoWeek'),
        ranges: {
            'Today': [moment(), moment()],
            'Tomorrow': [moment().add(1, 'days'), moment().add(1, 'days')],
            'Yesterday':[moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'This Week': [moment().startOf('isoWeek'), moment().endOf('isoWeek').add(1, 'days')],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            //- 'Yesterday':[moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            //- 'Last 7 days':[moment().subtract(7, 'days'), moment()],
            //- 'Last 30 days':[moment().subtract(30, 'days'), moment()],
            //- 'Overdue(All)':[moment().subtract(1825, 'days'), moment()],
            //- 'Tomorrow': [moment().add(1, 'days'), moment().add(1, 'days')],
            //- 'Next 7 days':[moment(), moment().add(7, 'days')],
            //- 'Next 30 days':[moment(), moment().add(30, 'days')],
            //- 'Upcoming(All)':[moment(), moment().add(1825, 'days')],
            //- 'Someday':[moment().add(1, 'days'), moment().add(31, 'days')],
            //- 'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            //- 'This Month': [moment().startOf('month'), moment().endOf('month')],
            //- 'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          },
        locale: {
          cancelLabel: 'Clear'
        }
      }, cb);

      function cb (start, end) {
        $('input[name="date_range"]').val(start.format('DD/MM/YYYY ') + ' - ' + end.format('DD/MM/YYYY '));
      }
      //- cb(moment().startOf('isoWeek'), moment().endOf('isoWeek'));
      cb(moment("01/01/2023"), moment());

      $('input[name="date_range"]').on('apply.daterangepicker', function(ev, picker) {
          $(this).val(picker.startDate.format('YYYY/MM/DD') + ' - ' + picker.endDate.format('YYYY/MM/DD'));
          table
            .columns(4) // for start date
            .search(picker.startDate.format('YYYY/MM/DD')) // for start date
            .columns(5) // for end date
            .search(picker.endDate.format('YYYY/MM/DD')) // for end date
            .draw();
          $("#clr_date_range").css('visibility', 'visible');
      });

      $('input[name="date_range"]').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
        $("#clr_date_range").css('visibility', 'hidden');
      });
       //- selectpicker assignment
      $("#country").selectpicker({
        noneSelectedText : 'All'
      });
      $("#zone").selectpicker({
        noneSelectedText : 'All'
      });
      $("#center").selectpicker({
        noneSelectedText : 'All'
      });
      $("#source_category").selectpicker({
        noneSelectedText : 'All'
      });
      $("#stage").selectpicker({
        noneSelectedText : 'All'
      });
      $("#program").selectpicker({
        noneSelectedText : 'All'
      });
      $("#know_us").selectpicker({
        noneSelectedText : 'All'
      });
      $("#status").selectpicker({
        noneSelectedText : 'All'
      });
      $('#country').on('change', function () {
        $('#zone').val('');
        $('#center').val('');
        table
          .columns(0)
          .search(this.value)
          .draw();
        $("#clr_country").css('visibility', 'visible');
      });

      $('#clr_country').click(function (e) {
        $("#clr_country").css('visibility', 'hidden');
        $('#sel_country_check').prop('checked',false);
        $("#country").val(null).selectpicker();
        table
          .columns(0)
          .search("")
          .draw();
      })

      $('#zone').on('change', function () {
        $('#center').val('');
        table
          .columns(1)
          .search(this.value)
          .draw();
        $("#clr_zone").css('visibility', 'visible');
      });

      $('#clr_zone').click(function (e) {
        $("#clr_zone").css('visibility', 'hidden');
        $("#zone").val(null).selectpicker();
        table
          .columns(1)
          .search("")
          .draw();
      });

      $('#center').on('change', function () {
        let ceneterList = $("#center option").length;
        var valueLength = $(this).val() ? $(this).val().length : 0;
          if (ceneterList == valueLength) {
            $('#sel_center_check').prop('checked',true);
          } else {
            $('#sel_center_check').prop('checked',false);
          }

        table
          .columns(2)
          .search(this.value)
          .draw();
        $("#clr_center").css('visibility', 'visible');
      });

      $('#clr_center').click(function (e) {
        $("#clr_center").css('visibility', 'hidden');
        $('#sel_center_check').prop('checked',false);
        $("#center").val(null).selectpicker();
        table
          .columns(2)
          .search("")
          .draw();
      });

      $('#source_category').on('change', function () {
        table
          .columns(3)
          .search(this.value)
          .draw();
        $("#clr_src_cat").css('visibility', 'visible');
      });

      $('#clr_src_cat').click(function (e) {
        $("#clr_src_cat").css('visibility', 'hidden');
        $("#source_category").val(null).selectpicker();
        table
          .columns(3)
          .search("")
          .draw();
      });

      $('#date').on('change', function () {
        table
          .columns(4)
          .search(this.value)
          .draw();
        $("#clr_date_range").css('visibility', 'visible');
      });

      $("#clr_date_range").click(function (e) {
        $("#clr_date_range").css('visibility', 'hidden');
        //- $('#date').val('')
        cb(moment().startOf('isoWeek'), moment().endOf('isoWeek'));
        table
          .columns(4) // for start date
          .search("") // for start date
          .columns(5) // for end date
          .search("") // for end date
          .draw();
        //- $('input[name="date_range"]').on('cancel.daterangepicker', function(ev, picker) {
        //-   $(this).val('');
        //-   $("#clr_date_range").css('visibility', 'hidden');
        //- });
      });
      $('#stage').on('change', function () {
        //- $('#zone').val('');
        //- $('#center').val('');
        table
          .columns(6)
          .search(this.value)
          .draw();
        $("#clr_stage").css('visibility', 'visible');
      });

      $('#clr_stage').click(function (e) {
        $("#clr_stage").css('visibility', 'hidden');
        //- $('#sel_country_check').prop('checked',false);
        $("#stage").val(null).selectpicker();
        table
          .columns(6)
          .search("")
          .draw();
      })
      $('#status').on('change', function () {
        table
          .columns(7)
          .search(this.value)
          .draw();
      $("#clr_status ").css('visibility', 'visible');
      });

       $('#substatus').on('change', function () {
        table
          .columns(7)
          .search(this.value)
          .draw();
      $("#clr_status ").css('visibility', 'visible');
      });

      $('#clr_status ').click(function (e) {
        $("#clr_status ").css('visibility', 'hidden');
        $('#sel_status_check').prop('checked',false);
        $("#status").val(null).selectpicker();
        table
          .columns(7)
          .search("")
          .draw();
      });
      $('#program').on('change', function () {
        let programsList = $("#program option").length;
        var id = $(this).val();
        var valueLength = $(this).val() ? $(this).val().length : 0;
          if (programsList == valueLength) {
            $('#sel_program_check').prop('checked',true);
          } else {
            $('#sel_program_check').prop('checked',false);
          }

        table
          .columns(8)
          .search(this.value)
          .draw();
        $("#clr_program").css('visibility', 'visible');
      });

      $('#clr_program').click(function (e) {
        $("#clr_program").css('visibility', 'hidden');
        $('#sel_program_check').prop('checked',false);
        $("#program").val(null).selectpicker();
        table
          .columns(8)
          .search("")
          .draw();
      });
      $('#searchbox').keyup(function(){
        table.search($(this).val()).draw();
        $("#clr_search").css('visibility', 'visible');
      });
      $('#know_us').on('change', function () {
        table
          .columns(9)
          .search(this.value)
          .draw();
        $("#clr_know_us").css('visibility', 'visible');
      });

      $('#clr_know_us').click(function (e) {
        $("#clr_know_us").css('visibility', 'hidden');
        $('#sel_know_check').prop('checked',false);
        $("#know_us").val(null).selectpicker();
        table
          .columns(9)
          .search("")
          .draw();
      });

      $('#clr_search').click(function (e) {
        $("#clr_search").css('visibility', 'hidden');
        $("#searchbox").val("");
        table.search("").draw();
      });

      let checkboxSome = document.getElementById("someday_1");
      checkboxSome.addEventListener( "change", () => {
        if (checkboxSome.checked) {
          //- alert('jeu')
          $("#country").selectpicker("deselectAll");
          $("#zone").selectpicker("deselectAll");
          $("#center").selectpicker("deselectAll");
          $("#program").selectpicker("deselectAll");
          $("#source_category").selectpicker("deselectAll");
          $("#know_us").selectpicker("deselectAll");
          $("#status").selectpicker("deselectAll");
          $("#stage").val(null).selectpicker("refresh");
          $("#searchbox").val("");
          $('#date').val('');
          $("#date").prop('disabled', true);
          $("#no_followup_1").prop('checked', false);
          table
            .columns(10)
            .search(checkboxSome.checked.toString())
            .draw();
        } else {
          table
            .columns(10)
            .search("")
            .draw();
        }
      });

      let checkbox = document.getElementById("no_followup_1");
      checkbox.addEventListener( "change", () => {
        if (checkbox.checked) {
          //- alert('checked');
          $("#country").selectpicker("deselectAll");
          $("#zone").selectpicker("deselectAll");
          $("#center").selectpicker("deselectAll");
          $("#program").selectpicker("deselectAll");
          $("#source_category").selectpicker("deselectAll");
          $("#know_us").selectpicker("deselectAll");
          $("#status").selectpicker("deselectAll");
          $("#stage").val(null).selectpicker("refresh");
          $("#searchbox").val("");
          $('#date').val('');
          $("#date").prop('disabled', true);
          $("#someday_1").prop('checked', false);
          table
            .columns(7)
            .search(checkbox.checked.toString())
            .draw();
        } else {
          $("#date").prop('disabled', false);
          //- alert('not checked')
          table
            .columns(7)
            .search("")
            .draw();
        }
      });

      $('#clear_filter').click(function() {
        window.location.reload();
        return;
      })

      $("#ExportReporttoExcel").on("click", function() {
        //- table.button('.buttons-excel').trigger();
        //- if(total_records > 0) {
          //- table.button('.buttons-excel').trigger();
          //- var search_key = $("#searchbox").val();
          var search_key = "";
          var stardate = "01-01-2023";
          //- var enddate = "29-12-2023";
          var enddate = moment().endOf('isoWeek');
          
          if($("#date").val() != ""){
            //- stardate  = ($("#date").val().split("-"))[0];
            //- enddate  = ($("#date").val().split("-"))[1];
          }
          var stage = $("#stage").val();
          var center = $("#center").val();
          var country = $("#country").val();
          var source_category = $("#source_category").val();
          var zone = $("#zone").val();
          var program = $("#program").val();
          var knowUs = $("#know_us").val();
          var status = $("#status").val();
          //- var dupLeads = $("#dup_lead_1").prop("checked");
          var dupLeads = 0;
          //- window.open("/admin/reports/export?search_key="+search_key+"&stardate="+stardate+"&enddate="+enddate+"&stage="+stage);
          //- console.log(JSON.stringify(country), "-----country");
          //- /admin/lead/datatable
          let exportApi = `/admin/reports/exportFollowups?search_key=${search_key}&stardate=${stardate}&enddate=${enddate}&stage=${stage}&country=${country ? JSON.stringify(country) : ""}&zone=${zone ? JSON.stringify(zone) : ""}&center=${center ? JSON.stringify(center) : ""}&program=${program ? JSON.stringify(program) : ""}&source_category=${source_category}&know_us=${knowUs ? JSON.stringify(knowUs) : ""}&status=${status ? JSON.stringify(status) : ""}&dup_leads=${dupLeads}`;
          //- console.log(exportApi);
          //-   $.ajax({
          //-           url: exportApi,
          //-           type: 'GET',
          //-           dataType: 'json', // added data type
          //-           success: function(res) {
          //-               console.log(res);
          //-               //- alert(res);
          //-           }
          //-       });

          //- return;
          console.log(exportApi);
          window.open(exportApi);
          //- return false;
        //- } else {
        //-   sall("No data found!", 2500);
        //-   return;
        //- }
      });


    });
    $(document).on('click','#show_filter', function(){
      //- console.log("clicked")
      $('.filter').slideToggle()
      //- $('.filter').show()
      //- $('#show_filter').hide()
    })
    //- $('#dropdownMenuButton').on('click', function(e) {
    //-   $('.lead-flex-container .dropdown-menu').slideToggle();
    //- });
    //- $('.dropdown-menu .form-check-input').on('click', function (e) {
    //-   // Get the column API object
    //-   var column = table.column($(this).attr('data-column'));
    //-   // Toggle the visibility
    //-   column.visible(!column.visible());
    //- });

    function redirectToEditfollowup (followup_id) {
      window.location.href = `/admin/lead/edit/followup/${followup_id} `;
    }
    //- function redirectToEditleed (lead_id) {
    //-   window.location.href = `/admin/lead/edit/${lead_id}`;
    //- }
    function redirectToEditleed (lead_id) {
      console.log(lead_id,"lokoko")
      window.location.href = `/admin/lead/view/${lead_id}`;
    }
    function redirectToEditleed2 (lead_id) {
      window.location.href = `/admin/lead/add/followup/${lead_id}`;
    }
    function removeSelect() {
      $('#country option').prop("selected", false);
      $("#country").selectpicker("refresh")
    }
